body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin-right: 25rem;
  color: #465775;
}

.right-item {
  text-align: right;
}

#login,
#logout {
  margin-left: 10px;
}

#search {
  margin-left: 15px;
}

.card:hover {
  background-color: rgb(200, 221, 255);
}

.cart-button:hover,
.store-title:hover {
  cursor: pointer;
}